<!DOCTYPE html>
<html ng-app="exampleApp">
<head>
	<!--Import Google Icon Font-->
	<link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<!-- Compiled and minified CSS -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/css/materialize.min.css">
	<link rel="stylesheet" href="/resources/static/jquery.fullPage.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
	<link rel="stylesheet" href="/resources/search/search.css">
	<!--Let browser know website is optimized for mobile-->
	<meta name="viewport" content="width=device-width, initial-scale=1.0" charset="utf-8"/>
	<title>Angular and FullPage and Materialize</title>
	<script type="text/javascript"	src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
	<script	src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/js/materialize.min.js"></script>
	<style></style>
	<!-- static데이터 불러오기 -->
	<script type="text/javascript" src="/resources/static/angular.js"></script>
	<script type="text/javascript" src="/resources/static/angular-animate.js"></script>
	<script type="text/javascript" src="/resources/static/angular-route.js"></script>
	<script type="text/javascript" src="/resources/static/angular-resource.js"></script>
	<script type="text/javascript" src="/resources/static/jquery.fullPage.js"></script>
	<script type="text/javascript" src="/resources/static/angular-fullpage.js"></script>
	<script type="text/javascript" src="/resources/search/search.js"></script>
	<script>
var myApp=angular.module("exampleApp",[]);
myApp.controller('searchController',  function($scope,$location){
	$scope.summonerName = "";
	
	$scope.search = function () {
			var summonerName = $scope.summonerName;
				if (summonerName == "" || summonerName == null) {
					Materialize.toast('소환사의 아이디를 입력해주세요.', 4000)
					return;
				}
				
			}
		})

myApp.directive('searchNav', function(){
	// Runs during compile
	return {
		// name: '',
		// priority: 1,
		// terminal: true,
		scope: {}, // {} = isolate, true = child, false/undefined = no change
		controller: function($scope, $element, $attrs, $transclude) {
			$scope.summonerName = "";
			$scope.search = function () {
				console.log("adssad");
				if (summonerName == "" || summonerName == null) {
					Materialize.toast('소환사의 아이디를 입력해주세요.', 4000)
				}
			}
		},
		// require: 'ngModel', // Array = multiple requires, ? = optional, ^ = check parent elements
		restrict: 'E', // E = Element, A = Attribute, C = Class, M = Comment
		//template: '',
		//templateUrl: '/resources/search/search.html',
		// replace: true,
		// transclude: true,
		// compile: function(tElement, tAttrs, function transclude(function(scope, cloneLinkingFn){ return function linking(scope, elm, attrs){}})),
		link: function($scope, iElm, iAttrs, controller) {
			
		}
	};
});
</script>
<!-- 사용자 정의 서비스 컨트롤러 디렉티브들 ...-->
</head>
<body ng-controller="searchController">
	<search-nav>
		<div class='container'>
			<div class="row">
				<nav>
					<div class="nav-wrapper">
						<div class="input-field col s10">
							<input id="search" type="search"  required placeholder="소환사명 검색" ng-model='summonerName'>
							<label for="search"><i class="material-icons">search</i></label> 
						</div>
						<button class='col s2' ng-click="search()"><i class="fa fa-search fa-2x"></i></button>
					</div>
				</nav>
			</div>
		</div>
	</search-nav>
</body>
</html>