<!DOCTYPE html>
<html ng-app="exampleApp">
<head>
<!--Import Google Icon Font-->
<link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<!-- Compiled and minified CSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/css/materialize.min.css">
<!--Let browser know website is optimized for mobile-->
<meta name="viewport" content="width=device-width, initial-scale=1.0" charset="utf-8"/>
   <title>first angular</title>
<style type="text/css">
	
#footer {
    position: fixed;
    left: 0px;
    bottom: 0px;
    height: 30px;
    width: 100%;
    background: #444;
}

</style>
<script src="angularjs/angular.js"></script>
<script src="angularjs/angular-route.js"></script>
<script src="angularjs/angular-resource.js"></script>
<script type="text/javascript"  src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script   src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/js/materialize.min.js"></script>
<script>
var myApp=angular.module("exampleApp",["ngResource","ngRoute"]);
myApp.config(function($routeProvider) {
	$routeProvider.when("/update" , {templateUrl : 'update.html'} )
	.when("/insert" , {templateUrl : 'insert.html'})
})
myApp.factory('sangResource', function($resource){
	return $resource("http://localhost:8080/user" + "/:username", {username : "@username"}, {get:{method : "GET", isArray:false}});
});


myApp.controller('sangcontoller', function($scope , sangResource){
	$scope.data;
	$scope.search = function () {
		sangResource.get({username : $scope.searchinput}).$promise.then(function(data){
		console.log(data)
		$scope.userdata = data['userData'];
		$scope.leaguedata = data['leagueData'];
		$scope.entry = data['leagueData'].entrylist[0];
		console.log($scope.leaguedata);
		console.log($scope.entry);
	 } , function(err){console.log(err)});
	}
	$scope.searchinput = ""
	
	

});
</script>
</head>
<body ng-controller="sangcontoller">
<div class="row">
	<div class="col s10">
		<input type="text" data-ng-model="searchinput">
	</div>
	<div class="col s2">
		<a class="btn" data-ng-click="search()">검색</a>
	</div>

</div>

<br>
<br>
<img src="http://ddragon.leagueoflegends.com/cdn/6.21.1/img/profileicon/{{userdata.profileIconId}}.png" /><br>
이름 : {{userdata.name}}
<br>
레벨 : {{userdata.summonerLevel}}
<br>
모름 : {{leaguedata.name}}
<br>
티어 : {{leaguedata.tier}}&nbsp;{{entry.division}} 
<br> LP : {{entry.leaguePoints}}
<br>
승 : {{entry.wins}} &nbsp;&nbsp;&nbsp; 패 : {{entry.losses}}

<div id="footer">asd</div>
</body>
</html>