<!DOCTYPE html>
<html ng-app="exampleApp">
<head>
<!--Import Google Icon Font-->
<link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<!-- Compiled and minified CSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/css/materialize.min.css">
<!--Let browser know website is optimized for mobile-->
<meta name="viewport" content="width=device-width, initial-scale=1.0" charset="utf-8"/>
   <title>first angular</title>
<style type="text/css">
	
#footer {
    position: fixed;
    left: 0px;
    bottom: 0px;
    height: 30px;
    width: 100%;
    background: #444;
}

</style>
<script src="angularjs/angular.js"></script>
<script src="angularjs/angular-route.js"></script>
<script src="angularjs/angular-resource.js"></script>
<script type="text/javascript"  src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script   src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/js/materialize.min.js"></script>
<script>
var myApp=angular.module("exampleApp",["ngResource","ngRoute"]);
myApp.config(function($routeProvider) {
	$routeProvider.when("/update" , {templateUrl : 'update.html'} )
	.when("/insert" , {templateUrl : 'insert.html'})
})
myApp.factory('sangResource', function($resource){
	return $resource("http://localhost:8080/match" + "/:matchid", {matchid : "@matchid"}, {get:{method : "GET", isArray:false}});
});


myApp.controller('matchCtrl', function($scope , sangResource){
	$scope.data;
	$scope.search = function () {
		sangResource.get({matchid : $scope.searchinput}).$promise.then(function(data){
		console.log(data)
		$scope.match = data['match'];
		console.log($scope.match);
	 } , function(err){console.log(err)});
	}
	$scope.searchinput = ""
});
myApp.directive('dd', function(){
	// Runs during compile
	return {

		 restrict: 'E', // E = Element, A = Attribute, C = Class, M = Comment
		 template: '<img ng-src="http://ddragon.leagueoflegends.com/cdn/6.21.1/img/item/{{i.item0}}.png "><img ng-src="http://ddragon.leagueoflegends.com/cdn/6.21.1/img/item/{{i.item1}}.png "><img ng-src="http://ddragon.leagueoflegends.com/cdn/6.21.1/img/item/{{i.item2}}.png "><img ng-src="http://ddragon.leagueoflegends.com/cdn/6.21.1/img/item/{{i.item3}}.png "><img ng-src="http://ddragon.leagueoflegends.com/cdn/6.21.1/img/item/{{i.item4}}.png "><img ng-src="http://ddragon.leagueoflegends.com/cdn/6.21.1/img/item/{{i.item5}}.png "><br><br>',
		link: function($scope, iElm, iAttrs, controller) {
			
		}
	};
});
</script>
</head>
<body ng-controller="matchCtrl">
<div class="container">

<div class="row">
	<div class="col s10">
		<input type="text" data-ng-model="searchinput">
	</div>
	<div class="col s2">
		<a class="btn" data-ng-click="search()">검색</a>
	</div>

</div>

<br>
<!-- <img src="http://ddragon.leagueoflegends.com/cdn/6.21.1/img/item/{{match[0].item0}}.png "><br> -->
<br>	
<!-- <div ng-if="{{match.teamId}} == 100">
{{match.teamId}}
</div>
 -->

레드팀
밴챔프:{{match[0].banChampionId1}}<br>
밴챔프:{{match[0].banChampionId2}}<br>
밴챔프:{{match[0].banChampionId3}}<br>
바론:{{match[0].baronkills}}<br>
용:{{match[0].dragonkills}}<br>
타워:{{match[0].towerkills}}<br>
<div ng-repeat="i in match | filter: match.teamId">
<div ng-if="i.teamId == 100">
<img ng-src="http://ddragon.leagueoflegends.com/cdn/6.21.1/img/item/{{i.item0}}.png ">
<img ng-src="http://ddragon.leagueoflegends.com/cdn/6.21.1/img/item/{{i.item1}}.png ">
<img ng-src="http://ddragon.leagueoflegends.com/cdn/6.21.1/img/item/{{i.item2}}.png ">
<img ng-src="http://ddragon.leagueoflegends.com/cdn/6.21.1/img/item/{{i.item3}}.png ">
<img ng-src="http://ddragon.leagueoflegends.com/cdn/6.21.1/img/item/{{i.item4}}.png ">
<img ng-src="http://ddragon.leagueoflegends.com/cdn/6.21.1/img/item/{{i.item5}}.png ">
<img ng-src="http://ddragon.leagueoflegends.com/cdn/6.21.1/img/champion/{{i.championNameE}}.png">

이름 : {{i.summonerName}}<br>
챔프: {{i.championNameK}}
가한데미지:{{i.totalDamageDealt}}
처맞은데미지:{{i.totalDamageTaken}}
와드박은수:{{i.wardsPlaced}}
와드지운수:{{i.wardsKilled}}
cs:{{i.minionskilled + i.neutralMinionsKilled}}
돈:{{i.goldEarned}}
kda:{{(i.kills+i.assists)/i.deaths}}<br>
(킬:{{i.kills}}/어시:{{i.assists}}/데스:{{i.deaths}})
</div>
</div>
<br><br>
블루팀
밴챔프:{{match[7].banChampionId1}}<br>
밴챔프:{{match[7].banChampionId2}}<br>
밴챔프:{{match[7].banChampionId3}}<br>
바론:{{match[7].baronkills}}<br>
용:{{match[7].dragonkills}}<br>
타워:{{match[7].towerkills}}<br>
<div ng-repeat="i in match | filter: match.teamId">
<div ng-if="i.teamId == 100">
<img ng-src="http://ddragon.leagueoflegends.com/cdn/6.21.1/img/item/{{i.item0}}.png ">
<img ng-src="http://ddragon.leagueoflegends.com/cdn/6.21.1/img/item/{{i.item1}}.png ">
<img ng-src="http://ddragon.leagueoflegends.com/cdn/6.21.1/img/item/{{i.item2}}.png ">
<img ng-src="http://ddragon.leagueoflegends.com/cdn/6.21.1/img/item/{{i.item3}}.png ">
<img ng-src="http://ddragon.leagueoflegends.com/cdn/6.21.1/img/item/{{i.item4}}.png ">
<img ng-src="http://ddragon.leagueoflegends.com/cdn/6.21.1/img/item/{{i.item5}}.png ">
<img ng-src="http://ddragon.leagueoflegends.com/cdn/6.21.1/img/champion/{{i.championNameE}}.png">

이름 : {{i.summonerName}}<br>
챔프: {{i.championNameK}}
가한데미지:{{i.totalDamageDealt}}
처맞은데미지:{{i.totalDamageTaken}}
와드박은수:{{i.wardsPlaced}}
와드지운수:{{i.wardsKilled}}
cs:{{i.minionskilled + i.neutralMinionsKilled}}
돈:{{i.goldEarned}}
kda:{{(i.kills+i.assists)/i.deaths}}<br>
(킬:{{i.kills}}/어시:{{i.assists}}/데스:{{i.deaths}})
</div>
</div>
</div>
</div>
<div id="footer">asd</div>

</body>
</html>